@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #E74C3C;
  margin-bottom: 60px;
}

header h3 {
  color: white;
  padding: 45px;
}